body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  list-style: none;
  background: rgb(247, 246, 246);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
